.result-wrapper {
    padding: 30px 20px;
}

ul li {
    line-height: 30px;
    font-size: 15px;
    font-family: "Time New Roman";
    color: #000000;
}

.button-wrapper {
    text-align: right;
    padding-right: 10px;
}


